# JSON examples and exerciseÂ¶

-Get familiar with packages for dealing with JSON

--Study examples with JSON strings and files

--Work on exercise to be completed 

--Reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader

--Data source: http://jsonstudio.com/resources/

In [40]:
import pandas as pd
import json
from pandas.io.json import json_normalize

# JSON example, with string
--Demonstrates creation of normalized dataframes (tables) from nested json string

--Source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [41]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [42]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [43]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

# JSON example, with file
--Demonstrates reading in a json file as a string and as a table

--Uses small sample file containing data about projects funded by the World Bank

--Data source: http://jsonstudio.com/resources/

In [44]:
js1=json.load((open(r'C:\Users\abhij\Desktop\data_wrangling_json\data\world_bank_projects_less.json')))

In [45]:

# load as Pandas dataframe
sample_json_df = pd.read_json(r'C:\Users\abhij\Desktop\data_wrangling_json\data\world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

# JSON exercise
Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above

In [46]:
js2=json.load((open(r'C:\Users\abhij\Desktop\data_wrangling_json\data\world_bank_projects.json')))

In [47]:
df=pd.read_json(r'C:\Users\abhij\Desktop\data_wrangling_json\data\world_bank_projects.json')

In [48]:
df.head(2)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [49]:
df.columns

Index([u'_id', u'approvalfy', u'board_approval_month', u'boardapprovaldate',
       u'borrower', u'closingdate', u'country_namecode', u'countrycode',
       u'countryname', u'countryshortname', u'docty',
       u'envassesmentcategorycode', u'grantamt', u'ibrdcommamt', u'id',
       u'idacommamt', u'impagency', u'lendinginstr', u'lendinginstrtype',
       u'lendprojectcost', u'majorsector_percent', u'mjsector_namecode',
       u'mjtheme', u'mjtheme_namecode', u'mjthemecode', u'prodline',
       u'prodlinetext', u'productlinetype', u'project_abstract',
       u'project_name', u'projectdocs', u'projectfinancialtype',
       u'projectstatusdisplay', u'regionname', u'sector', u'sector1',
       u'sector2', u'sector3', u'sector4', u'sector_namecode', u'sectorcode',
       u'source', u'status', u'supplementprojectflg', u'theme1',
       u'theme_namecode', u'themecode', u'totalamt', u'totalcommamt', u'url'],
      dtype='object')

# TASK 1-Find the 10 countries with most projects

In [50]:
df.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

# Task 2 - Find the top 10 major project themes (using column 'mjtheme_namecode')

In [51]:
normal1=json_normalize(js2,'mjtheme_namecode',['id'])

In [52]:
normal1.head()

  code                                   name       id
0    8                      Human development  P129828
1   11                                         P129828
2    1                    Economic management  P144674
3    6  Social protection and risk management  P144674
4    5                  Trade and integration  P145310

In [53]:
normal1.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

# Task 3- Notice that some entries in 'mjtheme_namecode' have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [54]:
# As we can observe that there are some missing values in the name column
normal1.head(20)

   code                                          name       id
0     8                             Human development  P129828
1    11                                                P129828
2     1                           Economic management  P144674
3     6         Social protection and risk management  P144674
4     5                         Trade and integration  P145310
5     2                      Public sector governance  P145310
6    11  Environment and natural resources management  P145310
7     6         Social protection and risk management  P145310
8     7                   Social dev/gender/inclusion  P144665
9     7                   Social dev/gender/inclusion  P144665
10    5                         Trade and integration  P144933
11    4      Financial and private sector development  P144933
12    6         Social protection and risk management  P146161
13    6                                                P146161
14    2                      Public sector governance  P121185
15    4      Financial and private sector development  P121185
16   11  Environment and natural resources management  P127033
17    8                                                P127033
18   10                             Rural development  P130164
19    7                                                P130164

In [55]:
# Initialize a list which contains the names and its position by the code,there are total 11 names and 1 empty string
names=["",'Economic management','Public sector governance','Rule of law','Financial and private sector development','Trade and integration','Social protection and risk management','Social dev/gender/inclusion','Human development','Urban development','Rural development','Environment and natural resources management']

In [56]:
#Iterate through each element in mjtheme_namecode
for x in range(len(df.mjtheme_namecode)):
    for y in range(len(df.mjtheme_namecode[x])):
        #if the corresponding value with name is empty:
        if(df.mjtheme_namecode[x][y]['name']==""):
            # then fill the position with names list declared ablove
            df.mjtheme_namecode[x][y]['name']=names[int(df.mjtheme_namecode[x][y]['code'])]

In [57]:
df.mjtheme_namecode.value_counts().head(10)

[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u'Environment and natural resources management'}]                 17
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'11', u'name': u'Environment and natural resources management'}]                                             12
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]                                                                         11
[{u'code': u'6', u'name': u'Social protection and risk management'}, {u'code': u'6', u'name': u'Social protection and risk management'}]                                  8
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'4', u'name': u'Financial and private sector development'}]                       7
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'4', u'name': u'Financial and private sector development'}]                            7
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]     6
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'7', u'name': u'Social dev/gender/inclusion'}]                                                                6
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'10', u'name': u'Rural development'}]                                             6
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]                                                            5
Name: mjtheme_namecode, dtype: int64